[
  {
    sprite: "pixie"
    position:
      x: 200
      y: 150
    rotation: 0
    script: """
      @update = (dt) ->
        @rotation += dt

      @click = ->
        alert "Hello!"
    """
  }, {
    sprite: "question"
    position:
      x: 1200
      y: 80
    script: """
      @click = ->
        alert "Ctrl+Click (or Cmd+Click) to edit!"
    """
  }
]
